.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding-top: 4rem;
}

.sectionMain {
    width: 80%;
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.courseTitle {
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: bold;
    color: #000032;
    margin-bottom: 0.5rem;
}

.courseDescription {
    margin-top: 1.5rem;
    font-size: 1.3rem;
    color: #6B6B6B;
    margin-bottom: 1rem;
}

.courseExtraInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #6B6B6B;
    gap: 0.5rem;
}

.courseExtraInfo p {
    display: flex;
    align-items: center;
    gap: 5px;
}

.buyCourseDiv {
    margin-top: 1.5rem;
    width: 100%;
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* mantiene el precio y el botón alineados a la izquierda */
    gap: 0.5rem;
}

.coursePrice {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000032;
}

.buyCourseButton {
    padding: 0.9rem 1.5rem;
    background-color: #055293;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.accessLifetime {
    font-size: 0.8rem;
    color: #000;
    text-align: center;
    /* esto centra el texto */
    width: 100%;
    /* ocupa todo el ancho del contenedor */
}

/* <----------------- LO QUE APRENDERÁS SECTION -------------------> */

.whatYouWillLearnSection {
    width: 100%;
    /* ancho completo de la ventana */
    max-width: 1200px;
    /* opcional para no exceder cierto ancho */
    margin: 1rem auto;
    /* vertical y centrado horizontal */
    border: 1px solid #b4b4b4;
    padding: 1rem;
}

.whatYouWillLearnSection h1 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #000032;
    margin-bottom: 1rem;
}

/* Grid de dos columnas para la lista */
.whatYouWillLearnSection ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* dos columnas iguales */
    gap: 0.5rem 2rem;
    /* fila y columna */
}

.whatYouWillLearnSection ul li {
    display: flex;
    /* usa flex para alinear icono y texto */
    align-items: center;
    /* centra verticalmente el check con el texto */
    gap: 0.5rem;
    /* espacio entre icono y texto */
    font-size: 0.9rem;
    color: #6c6c6c;
}

.whatYouWillLearnSection ul li svg {
    vertical-align: middle;
    /* asegura que el SVG se alinee con el texto */
    flex-shrink: 0;
    /* evita que el SVG se reduzca si la línea se ajusta */
}

.shareCourseBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem auto auto;
    /* top auto bottom auto -> centrado horizontal */
    border: 1px solid #055293;
    padding: 0.5rem 1rem;
    border-radius: 24px;
    cursor: pointer;
    font-size: 0.9rem;
    color: #055293;
    font-weight: bold;
    transition: all 0.2s ease;
}

.shareCourseBtn:hover {
    background-color: #055293;
    color: #fff;
}

.courseIncludes {
    color: #333333;
    width: 100%;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.courseIncludes h1 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #000032;
    margin-bottom: 1rem;
}

.courseIncludes ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 2rem;
    grid-auto-rows: minmax(1.5rem, auto);
    /* altura mínima uniforme */
}

.courseIncludes ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.9rem;
    color: #212121;
}

/* COURSE CONTENT CSS */
.courseContentSection {
    width: 100%;
    margin-top: 1.5rem;
    margin-right: 24rem;
    /* alinea con courseHeader */
    /* border: 1px solid #c8c8c8; */
    border-radius: 8px;
    color: #000;
    /* texto principal en negro */
}

.courseContentSection h2 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #000032;
    margin-bottom: 1rem;
}

.courseSection {
    margin-bottom: 0.5rem;
}

.sectionHeader {
    width: 100%;
    background: #f0f0f0;
    border: none;
    padding: 0.6rem 1rem;
    text-align: left;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
}

.chevron {
    font-size: 0.9rem;
}

.sectionClasses {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding-left: 1rem;
}

/* color: "#7f7f7fff", fontSize: "0.9rem" */

.sectionClasses.open {
    max-height: 500px;
    /* ajusta según el contenido */
}

.sectionClasses ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
}

.sectionClasses li {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #e0e0e0;
    color: #7f7f7fff;
    font-size: 0.9rem;
}

.className {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.classDuration {
    color: #6c6c6c;
    font-size: 0.85rem;
}

.totalDuration {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

/* ESTILOS DEL FOOTER DEL CURSO FIJO */
.fixedBottomBar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0e0d0d;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1;
}

.leftSide {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.courseName {
    font-size: 1rem;
    font-weight: bold;
}

.courseRating {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 0.85rem;
    color: #fff;
}

.rightSide {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.coursePrice {
    display: flex;
    /* activa flexbox */
    align-items: center;
    /* alinea verticalmente */
    gap: 0.25rem;
    /* pequeño espacio entre número y € */
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}

.buyCourseButton {
    background: #055293;
    color: #fff;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.95rem;
}

.buyCourseButton:hover {
    background: #033d6e;
}

/* REQUISITOS SECTION */
.courseRequirements {
    margin-top: 1.5rem;
    width: 100%;
    /* alinea con courseHeader */
    border-radius: 8px;
    color: #000;
    /* texto en negro */
}

.courseRequirements h2 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #000032;
}

.courseRequirements ul {
    list-style: disc;
    /* pone el punto delante de cada elemento */
    padding-left: 1.2rem;
    /* un poco de espacio para el punto */
    margin: 0.5rem 0;
    font-size: 1rem;
    /* mismo tamaño que sectionClasses li */
    color: #000;
    /* texto en negro */
}

.courseRequirements li {
    margin-bottom: 0.4rem;
}

/* DESCRIPTION SECTION CSS */
.courseDescription {
    width: 100%;
    /* igual que courseRequirements */
    border-radius: 8px;
    color: #000;
    /* texto en negro */
}

.courseDescription h2 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #000032;
}

.courseDescription p {
    font-size: 1rem;
    line-height: 1.6;
    color: #000;
    margin: 0.5rem 0;
}

.toggleDescriptionBtn {
    background: none;
    border: none;
    font-size: 1rem;
    color: #055293;
    /* azul moderno */
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.3s ease;
}

.toggleDescriptionBtn:hover {
    color: #5e96be;
    /* azul más claro al pasar el ratón */
}

/* COURSE REVIEWS SECTION */
.courseReviews {
    width: 100%;
    margin-bottom: 4rem;
    margin-top: 1rem;
}

.courseReviews h2 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #000032;
    margin-bottom: 1rem;
}

.reviewsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.reviewCard {
    border-top: 1px solid #ADADAD;
    padding: 1rem;
}

/* Botón Ver más */
.showMoreBtn {
    display: block;
    padding: 0.8rem 1.4rem;
    margin-top: 1.5rem;
    border: none;
    color: #0059c9;
    border: 2px solid #0070f3;
    font-size: 0.95rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.showMoreBtn:hover {
    background: #C7DFFC;
}

.showMoreBtn:active {
    transform: scale(0.97);
}

@media(max-width: 685px) {
    .container {
        padding-top: 2rem;
    }

    .sectionMain {
        width: 85%;
    }
}

@media(max-width: 657px) {
    .totalDuration {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
}

@media (max-width: 635px) {
    .fixedBottomBar {
        background: #fff;
        justify-content: flex-start;
        /* alineamos al inicio */
        padding: 0.5rem 2rem;
        gap: 1rem;

        /* sombra más suave */
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
    }

    .leftSide {
        display: none;
        /* ocultamos nombre y valoraciones */
    }

    .rightSide {
        flex: 1;
        /* ocupa todo el ancho disponible */
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .coursePrice {
        font-size: 1.4rem;
        font-weight: 600;
        color: #000;
        white-space: nowrap;
        /* evita que el € baje de línea */
    }

    .buyCourseButton {
        flex: 1;
        /* botón se expande */
        font-size: 1rem;
        padding: 1rem 2rem;
        background: #055293;
        text-align: center;
    }
}


@media(max-width: 457px) {
    .whatYouWillLearnSection ul {
        grid-template-columns: 1fr;
    }

    .courseIncludes ul {
        grid-template-columns: 1fr;
    }

}
