.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    /* oscurece un poco */
    backdrop-filter: blur(8px);
    /* difumina el contenido de atrás */
    -webkit-backdrop-filter: blur(8px);
    /* para Safari */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.modal {
    background: #fff;
    border-radius: 12px;
    padding: 2rem;
    width: 47%;
    text-align: left;
    position: relative;
    animation: fadeIn 0.2s ease-in-out;
}

.modal h2 {
    margin-bottom: 0.7rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: #000;
}

.linkBox {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin-bottom: 1rem;
}

.linkBox input {
    flex: 1;
    color: #4D4D4D;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.linkBox input:hover {
    background-color: #f5f5f5;
}

.linkBox input:focus {
    border: 1px solid #055293;
    outline: none;
    /* quita el borde azul extra */
    box-shadow: 0 0 3px #055293;
    /* opcional: halo suave */
}

.linkBox button {
    background: #055293;
    color: #fff;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 43px;
    /* ajusta al alto que uses */
}

.linkBox button:hover {
    background-color: #033a6d;
}

.linkBox button.copied {
    background-color: #055293;
    /* verde cuando copiado */
    transform: scale(1.1);
    /* animación ligera */
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
}

.socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #055293;
    border-radius: 50%;
    color: #055293;
}

.socials a:hover {
    background-color: #ddd;
}

.closeBtn {
    background: transparent;
    border: none;
    color: #696969;
    font-size: 2rem;
    position: absolute;
    top: 0px;
    right: 12px;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media(max-width: 970px) {
    .modal {
        width: 80%;
    }
}

@media(max-width: 532px) {
    .modal {
        width: 95%;
    }
}

@media(max-width: 382px) {
    .modal {
        padding: 1rem;
    }

    .linkBox {
        gap: 0.2rem;
    }

    .linkBox input {
        padding: 0.3rem;
        width: 50%;
    }

}
